<!-- With $resource -->
<div ng-controller="StatusController">
  <table class="hor-table">
    <thead ng-controller="ConstantController">
      <tr class="hor-table-header">
        <th scope="col">
          <p ng-click="order('id')">Platform Apps
          <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
        </p>
        </th>
        <th ng-repeat="env in environments_config.environments">
          <p>{{ env.name }}</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="application in status.applications | orderBy:predicate:reverse">
        <td id="app-name" class="hor-table-td">{{ application.id }}</td>
        <td class="hor-table-td" ng-repeat="environment in application.environments">
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='SIT1'>{{ environment.version }}</p>
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='SIT2'>{{ environment.version }}</p>
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='SIT3'>{{ environment.version }}</p>
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='PROD'>{{ environment.version }}</p>
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='PSUP'>{{ environment.version }}</p>
          <p ng-style="set_color(application.environments, environment.version)" ng-show=environment.name=='CVT'>{{ environment.version }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
