<div class="ngdialog-message">
 <div ng-controller="SubcomponentController">
  <table class="subcomponents-table">
   <thead>
    <tr class="hor-table-header">
     <th scope="col">
      <p ng-click="order('id')">Subcomponents
       <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'id'"></span>
      </p>
     </th>
     <th scope="col">
      <p ng-click="order('id')">Version
       <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'id'"></span>
      </p>
     </th>
    </tr>
   </thead>
   <tbody>
    <tr ng-repeat="component in get_subcomponent_data()">
     <td class="subcomponents-table-td">{{ component.name }}</td>
     <td class="subcomponents-table-td">{{ component.version }}</td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
